



table {
  width: 100%;
  min-width: 1000px;
  
  
  
}

.table-container {
    position: relative;
    height: 100vh;
    overflow: auto;
    
    
    
  }

  thead {
    position: sticky;
    top: 0;
    background-color: var(--body-bg);
    
  }
  table thead tr {
    text-align: left;
  }

    table th,
    table td {
        font-size: small;
        text-align: left;
        
        border-bottom: 1px solid var(--border-color);
    }