.col-12 {
    width: 100%;
}



table {
  width: 100%;
  min-width: 1000px;
  
}

.table-container {
    position: relative;
    overflow: auto;
    height: 100vh ;
  }

  thead {
    position: sticky;
    top: 0;
    background-color: var(--body-bg);
    z-index: 1;
  }
  table thead tr {
    text-align: left;
  }

    table th,
    table td {
        padding: 20px 0;
        border-bottom: 1px solid var(--border-color);
    }