

<div class="">
    <div class="col-12">
      <div class="table-container" #tableContainer>
        <table>
          <thead>
            <tr>
              <th>poliza_id</th>
              <th>venta_id</th>
              <th>servicio_id</th>
              <th>destino</th>
              <th>fecha_salida</th>
              <th>fecha_retorno</th>
              <th>nro_poliza</th>
              <th>nro_dias</th>
              <th>extra</th>
              <th>fecha_emision</th>

             
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let poliza of listado_Polizas">
              <td  (click)="showDetails()" >{{poliza.poliza_id}}</td>
              <td>{{poliza.venta_id}}  </td>
              <td>{{poliza.servicio_id}}  </td>
              <td>{{poliza.destino}}  </td>
              <td>{{poliza.fecha_salida | extractDate }}  </td>
              <td>{{poliza.fecha_retorno | extractDate }}  </td>
              <td *ngIf="poliza.nro_poliza !== null; else nullContent">{{poliza.nro_poliza}}</td>
                <ng-template #nullContent>
                <td>No contiene</td>
                </ng-template>
              <td> {{poliza.nro_dias}} </td>
              <td> {{poliza.extra}} </td>
              <td> {{poliza.fecha_emision | extractDate }} </td>


            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="animated-component" [class.active]="showComponent"   >
        <span  >Hola mundo</span>
        <button (click)="showDetails()">Close</button>
      </div>
      
    </div>
      
  </div>


  
